In [11]:
from montecarlo import Die, Game, Analyzer
import numpy as np
import pandas as pd

In [12]:
d = Die(np.array([1,2,3]))
#d = Die(np.array(['a','b','c']))
d.change_weight(2,'2')
#d.change_weight('b',2)
cd = d.current_die_state()
#all(cd.weights == 1)
cd

      weight
face
1        1.0
2        2.0
3        1.0

In [13]:
type(d.current_die_state().index)

pandas.core.indexes.numeric.Int64Index

In [14]:
d.roll(10)

[3, 3, 2, 2, 2, 1, 2, 2, 1, 2]

In [15]:
a = Die(np.array(['A','B','C']))
b = Die(np.array(['A','B','C']))
c = Die(np.array(['A','B','C']))

In [16]:
g = Game([a,b,c])
g.play(10)
df = g.show_recent_play('wide')
df

   0  1  2
0  C  C  B
1  A  C  A
2  C  A  B
3  A  A  B
4  A  A  B
5  C  C  B
6  C  A  A
7  A  A  B
8  C  B  C
9  B  A  C

In [39]:
type(g.show_recent_play('narrow').index) == pd.MultiIndex

True

In [19]:
test = 0
ana = Analyzer(g)
ana

In [20]:
ana.jackpot()

0

In [21]:
ana.face_counts_per_roll()

   A  B  C
0  0  1  2
1  2  0  1
2  1  1  1
3  2  1  0
4  2  1  0
5  0  1  2
6  2  0  1
7  2  1  0
8  0  1  2
9  1  1  1

In [22]:
ana.permutation_count()

       Count
0 1 2
A A B      3
  C A      1
B A C      1
C A A      1
    B      1
  B C      1
  C B      2

In [23]:
ana.combo_count()

       Count
0 1 2
A A B      3
    C      2
  B C      2
B C C      3

In [24]:
pd.DataFrame([sorted(df.iloc[x]) for x in range(len(df))])

   0  1  2
0  B  C  C
1  A  A  C
2  A  B  C
3  A  A  B
4  A  A  B
5  B  C  C
6  A  A  C
7  A  A  B
8  B  C  C
9  A  B  C