In [220]:
from montecarlo import Die, Game, Analyzer
import numpy as np
import pandas as pd

In [221]:
d = Die(np.array([1,2,3]))
#d = Die(np.array(['a','b','c']))
d.change_weight(2,'2')
#d.change_weight('b',2)
cd = d.current_die_state()
#all(cd.weights == 1)
cd

      weight
face
1        1.0
2        2.0
3        1.0

In [222]:
type(d.current_die_state().index)

pandas.core.indexes.numeric.Int64Index

In [223]:
d.roll(10)

[2, 1, 1, 1, 1, 1, 1, 2, 2, 3]

In [224]:
a = Die(np.array(['A','B','C']))
b = Die(np.array(['A','B','C']))
c = Die(np.array(['A','B','C']))

In [225]:
g = Game([a,b,c])
g.play(3)
df = g.show_recent_play('wide')
df

   0  1  2
0  C  C  B
1  A  B  B
2  A  B  B

In [249]:
g.show_recent_play('narrow')

         Outcome
Roll Die
0    0         C
     1         C
     2         B
1    0         A
     1         B
     2         B
2    0         A
     1         B
     2         B

In [227]:
test = 0
ana = Analyzer(g)
ana

In [236]:
pd.DataFrame({
            0: ['C','A','A'], 
            1: ['C','B','B'], 
            2: ['B','B','B']
        })

   0  1  2
0  C  C  B
1  A  B  B
2  A  B  B

In [229]:
ana.jackpot()

1

In [230]:
list(ana.face_counts_per_roll().loc[1]) == [2,0,1]

False

In [231]:
pd.Series([2,0,1], index = ['A','B','C'])

A    2
B    0
C    1
dtype: int64

In [248]:
ana.permutation_count()

       Count
0 1 2
A B B      2
C C B      1

In [233]:
ana.combo_count()

       Count
0 1 2
A B B      2
B C C      1

In [234]:
pd.DataFrame([sorted(df.iloc[x]) for x in range(len(df))])

   0  1  2
0  B  C  C
1  A  B  B
2  A  B  B

In [235]:
pd.DataFrame({
            'Count':[2,1]
        }, index=pd.MultiIndex.from_tuples([('A','B','B'), ('B','B','C')], names=[0,1,2]))

       Count
0 1 2
A B B      2
B B C      1