In [19]:
from montecarlo import Die, Game, Analyzer
import numpy as np
import pandas as pd

In [20]:
d = Die(np.array([1,2,3]))
#d = Die(np.array(['a','b','c']))
d.change_weight(2,'2')
#d.change_weight('b',2)
cd = d.current_die_state()
#all(cd.weights == 1)
cd

      weight
face
1        1.0
2        2.0
3        1.0

In [21]:
type(d.current_die_state().index)

pandas.core.indexes.numeric.Int64Index

In [22]:
d.roll(10)

[1, 1, 2, 2, 2, 2, 3, 1, 1, 2]

In [23]:
a = Die(np.array(['A','B','C']))
b = Die(np.array(['A','B','C']))
c = Die(np.array(['A','B','C']))

In [24]:
g = Game([a,b,c])
g.play(10)
df = g.show_recent_play('wide')
df

   0  1  2
0  B  C  C
1  A  A  C
2  C  B  A
3  C  A  C
4  B  C  C
5  B  C  A
6  A  A  A
7  C  A  B
8  C  C  C
9  C  B  B

In [35]:
#g.show_recent_play('narrow')

In [26]:
test = 0
ana = Analyzer(g)
ana

In [27]:
pd.DataFrame({
            0: ['C','A','A'], 
            1: ['C','B','B'], 
            2: ['B','B','B']
        })

   0  1  2
0  C  C  B
1  A  B  B
2  A  B  B

In [38]:
df

   0  1  2
0  B  C  C
1  A  A  C
2  C  B  A
3  C  A  C
4  B  C  C
5  B  C  A
6  A  A  A
7  C  A  B
8  C  C  C
9  C  B  B

In [45]:
[len(set(df.loc[i])) == 1 for i in range(len(df))]

[False, False, False, False, False, False, True, False, True, False]

In [28]:
ana.jackpot()

2

In [29]:
list(ana.face_counts_per_roll().loc[1]) == [2,0,1]

True

In [30]:
pd.Series([2,0,1], index = ['A','B','C'])

A    2
B    0
C    1
dtype: int64

In [31]:
ana.permutation_count()

       Count
0 1 2
A A A      1
    C      1
B C A      1
    C      2
C A B      1
    C      1
  B A      1
    B      1
  C C      1

In [32]:
ana.combo_count()

       Count
0 1 2
A A A      1
    C      1
  B C      3
  C C      1
B B C      1
  C C      2
C C C      1

In [33]:
pd.DataFrame([sorted(df.iloc[x]) for x in range(len(df))])

   0  1  2
0  B  C  C
1  A  A  C
2  A  B  C
3  A  C  C
4  B  C  C
5  A  B  C
6  A  A  A
7  A  B  C
8  C  C  C
9  B  B  C

In [34]:
pd.DataFrame({
            'Count':[2,1]
        }, index=pd.MultiIndex.from_tuples([('A','B','B'), ('B','B','C')], names=[0,1,2]))

       Count
0 1 2
A B B      2
B B C      1