In [14]:
from montecarlo import Die, Game, Analyzer
import numpy as np
import pandas as pd

In [2]:
d = Die(np.array([1,2,3]))
#d = Die(np.array(['a','b','c']))
d.change_weight(2,'2')
#d.change_weight('b',2)
cd = d.current_die_state()
#all(cd.weights == 1)
cd

      weight
face
1        1.0
2        2.0
3        1.0

In [3]:
d.roll(10)

[3, 2, 2, 2, 3, 1, 3, 1, 1, 1]

In [4]:
a = Die(np.array(['A','B','C']))
b = Die(np.array(['A','B','C']))
c = Die(np.array(['A','B','C']))

In [5]:
g = Game([a,b,c])
g.play(10)
df = g.show_recent_play('wide')
df

   0  1  2
0  B  C  B
1  C  A  C
2  C  A  C
3  C  B  B
4  A  C  A
5  A  A  A
6  B  A  C
7  C  C  B
8  B  A  C
9  A  C  C

In [6]:
#g.show_recent_play('narrow')

In [7]:
test = 0
ana = Analyzer(g)
ana

In [8]:
ana.jackpot()

0

In [9]:
ana.face_counts_per_roll()

   A  B  C
0  0  2  1
1  1  0  2
2  1  0  2
3  0  2  1
4  2  0  1
5  3  0  0
6  1  1  1
7  0  1  2
8  1  1  1
9  1  0  2

In [10]:
ana.permutation_count()

       Count
0 1 2
A A A      1
  C A      1
    C      1
B A C      2
  C B      1
C A C      2
  B B      1
  C B      1

In [11]:
ana.combo_count()

       Count
0 1 2
A A A      1
    C      1
  B C      2
  C C      3
B B C      2
  C C      1

In [12]:
pd.DataFrame([sorted(df.iloc[x]) for x in range(len(df))])

   0  1  2
0  B  B  C
1  A  C  C
2  A  C  C
3  B  B  C
4  A  A  C
5  A  A  A
6  A  B  C
7  B  C  C
8  A  B  C
9  A  C  C